<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SampleWebSiteTesting" >

    <listeners>
        <listener class-name="com.listeners.Listener"/>
    </listeners>

    <test name="Integration Testing" >
        <classes>
            <class name="SeleniumTestPages.LoginPageTest"/>
            <class name="SeleniumTestPages.HomePageTest" />
        </classes>
    </test>
</suite>